Repository aces/cbrain, pull requests merged in 2019-12, with the labels that each got.

#903 Allow switch between 1 or 2 QC panels
  BrainPortal/app/views/userfiles/quality_control.html.erb
  BrainPortal/public/javascripts/cbrain.js
Labels: User Interface

#902 Improved QC page layout (control section)
  BrainPortal/app/views/userfiles/_quality_control_panel.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/text_file/views/_qc_panel.html.erb
Labels: Priority: Normal, User Interface

#904 Added info viewer for Singularity image files.
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/singularity_image/singularity_image.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/singularity_image/views/_info.html.erb
Labels: Enhancement, Priority: Normal, Singularity, User Interface

#907 Added indexes for resource_usage table.
  BrainPortal/db/migrate/20191212183427_add_indexes_to_resource_usage.rb
  BrainPortal/db/schema.rb
Labels: Enhancement, Priority: Normal

#906 Improve long select-box with chosen
  BrainPortal/app/assets/images/chosen-sprite.png
  BrainPortal/app/assets/javascripts/chosen_1.8.7.jquery.min.js
  BrainPortal/app/assets/stylesheets/cbrain.css.erb
  BrainPortal/app/assets/stylesheets/chosen.min.css
  BrainPortal/app/assets/stylesheets/chosen_1.8.7.min.css
  BrainPortal/app/helpers/select_box_helper.rb
  BrainPortal/app/views/layouts/application.html.erb
  BrainPortal/app/views/userfiles/index.html.erb
  BrainPortal/config/initializers/assets.rb
  BrainPortal/public/javascripts/cbrain.js
  BrainPortal/public/javascripts/chosen.jquery.min.js
Labels: Enhancement, User Interface
