Repository aces/cbrain, pull requests merged in 2019-07, with the labels that each got.

#832 Several fixes all bundled together.
  Bourreau/script/cbrain_remote_ctl
  BrainPortal/app/helpers/resource_link_helper.rb
  BrainPortal/app/models/bourreau.rb
  BrainPortal/app/models/cbrain_task.rb
  BrainPortal/app/models/cluster_task.rb
  BrainPortal/app/models/userfile.rb
  BrainPortal/config/console_rc/lib/interactive_bourreau_control.rb
  BrainPortal/lib/cbrain_task_generators/templates/task_params.html.erb.erb
  BrainPortal/public/javascripts/cbrain.js
Labels: Boutiques, Bug, Enhancement, Priority: Normal, User Interface

#827 Exception and backtrace in control channel
  BrainPortal/app/controllers/controls_controller.rb
  BrainPortal/app/models/remote_command.rb
Labels: Enhancement, Priority: Low

#836 Added a code of conduct to the .github directory for CBRAIN
  .github/CODE_OF_CONDUCT.md
Labels: Documentation, Enhancement

#839 Added JSON descriptor for BoutiquesDemo task.
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task_descriptors/boutiques_demo.json
Labels: Boutiques, Documentation, Enhancement, Priority: Normal
