Repository aces/cbrain, pull requests merged in 2020-09, with the labels that each got.

#1007 [FIX] Disable refresh if needed.
  BrainPortal/app/views/resource_usage/_resource_usage_table.html.erb
Labels: Bug, Enhancement

#1011 Allow creator to delete project via NH
  BrainPortal/app/assets/images/neurohub.svg
  BrainPortal/app/controllers/nh_projects_controller.rb
  BrainPortal/app/helpers/neurohub_view_helper.rb
  BrainPortal/app/views/layouts/_neurohub_application.html.erb
  BrainPortal/app/views/nh_projects/show.html.erb
Labels: Enhancement, NeuroHub, Priority: Normal, User Interface

#1021 Uniform Capitalization in NeuroHub welcome resolves #1017
  BrainPortal/app/assets/README.md
  BrainPortal/app/assets/stylesheets/SCSS_intro_tutorial.md
  BrainPortal/app/mailers/cbrain_mailer.rb
  BrainPortal/app/views/neurohub_portal/styleguide.html.erb
  BrainPortal/app/views/neurohub_portal/welcome.html.erb
  BrainPortal/app/views/nh_sessions/new.html.erb
  BrainPortal/app/views/nh_sessions/request_password.html.erb
  NEUROHUB_README.md
Labels: Bug, NeuroHub, Priority: High, User Interface

#1013 [FIX] table style bug
  BrainPortal/app/assets/stylesheets/neurohub.scss.erb
Labels: NeuroHub, Priority: Normal, User Interface

#1023 add link to docs to the nav bar
  BrainPortal/app/views/layouts/_neurohub_navbar.html.erb
Labels: Documentation, NeuroHub, Priority: High, User Interface

#1024 update link to testers survey resolves #1022
  BrainPortal/app/views/neurohub_portal/welcome.html.erb
Labels: NeuroHub, Priority: High, User Interface

#1019 ToolConfigs can have Singularity overlays to mount
  Bourreau/spec/boutiques/boutiques_tester_spec.rb
  BrainPortal/app/controllers/tool_configs_controller.rb
  BrainPortal/app/models/cluster_task.rb
  BrainPortal/app/models/sing_squashfs_data_provider.rb
  BrainPortal/app/models/tool_config.rb
  BrainPortal/app/views/tool_configs/_form_fields.html.erb
  BrainPortal/db/migrate/20200922162525_add_singularity_overlays_specs_to_tool_configs.rb
  BrainPortal/db/schema.rb
Labels: Enhancement, NeuroHub, Priority: High, Singularity, User Interface
