Repository aces/cbrain, pull requests merged in 2020-07, with the labels that each got.

#963 Error message for unmatched collobarators emails issue #953
  BrainPortal/app/assets/stylesheets/neurohub.scss.erb
  BrainPortal/app/controllers/nh_invitations_controller.rb
Labels: Bug, NeuroHub, User Interface

#970 Remove reboot manager in NH
  BrainPortal/app/controllers/neurohub_application_controller.rb
  BrainPortal/app/controllers/neurohub_portal_controller.rb
  BrainPortal/app/views/neurohub_portal/reboot.html.erb
  BrainPortal/app/views/neurohub_portal/welcome.html.erb
  BrainPortal/config/initializers/z1_neurohub_reboot_cleaner.rb
  BrainPortal/config/routes.rb
  BrainPortal/public/images/neurohub/horses.png
  BrainPortal/public/reboot.txt.base
Labels: Enhancement, NeuroHub, Refactoring, User Interface

#972 Fix issue 957 about user registration in NH
  BrainPortal/app/controllers/nh_signups_controller.rb
  BrainPortal/app/views/nh_signups/confirm.html.erb
  BrainPortal/app/views/nh_signups/new.html.erb
  BrainPortal/app/views/signups/new.html.erb
  BrainPortal/config/routes.rb
Labels: Enhancement, NeuroHub

#973 Added new flag to groups: not_assignable. Fixes #962
  BrainPortal/app/assets/stylesheets/cbrain.css.erb
  BrainPortal/app/controllers/data_providers_controller.rb
  BrainPortal/app/controllers/groups_controller.rb
  BrainPortal/app/controllers/nh_projects_controller.rb
  BrainPortal/app/helpers/groups_helper.rb
  BrainPortal/app/models/admin_user.rb
  BrainPortal/app/models/normal_user.rb
  BrainPortal/app/models/site_manager.rb
  BrainPortal/app/models/user.rb
  BrainPortal/app/views/groups/new.html.erb
  BrainPortal/app/views/groups/show.html.erb
  BrainPortal/app/views/nh_projects/_form.html.erb
  BrainPortal/cbrain_plugins/plugins-report.sh
  BrainPortal/db/migrate/20200727133517_add_non_assignable_flag_to_groups.rb
  BrainPortal/db/schema.rb
  BrainPortal/lib/neurohub_helpers.rb
  BrainPortal/misc/README.txt
  BrainPortal/misc/mk_tst_access.rb
  BrainPortal/misc/tst_access.rb
Labels: Enhancement, NeuroHub, Priority: High
