Repository aces/cbrain, pull requests merged in 2020-08, with the labels that each got.

#978 NeuroHub invitations can be sent using login names
  BrainPortal/app/controllers/nh_invitations_controller.rb
  BrainPortal/app/models/invitation.rb
  BrainPortal/app/views/nh_invitations/new.html.erb
  BrainPortal/app/views/nh_projects/show.html.erb
Labels: NeuroHub, Priority: High, User Interface

#979 Better navigation between CBRAIN <-> NeuroHub
  BrainPortal/app/assets/stylesheets/neurohub.scss.erb
  BrainPortal/app/controllers/nh_sessions_controller.rb
  BrainPortal/app/controllers/nh_signups_controller.rb
  BrainPortal/app/controllers/sessions_controller.rb
  BrainPortal/app/controllers/signups_controller.rb
  BrainPortal/app/helpers/switcher_helper.rb
  BrainPortal/app/models/cbrain_session.rb
  BrainPortal/app/models/signup.rb
  BrainPortal/app/views/layouts/_neurohub_navbar.html.erb
  BrainPortal/app/views/layouts/_section_account.html.erb
  BrainPortal/app/views/signups/_signups_table.html.erb
  BrainPortal/app/views/signups/show.html.erb
  BrainPortal/db/schema.rb
Labels: NeuroHub, Priority: High, User Interface

#981 A user creating a license automatically signs it. Fixes #960
  BrainPortal/app/controllers/nh_projects_controller.rb
  BrainPortal/app/views/nh_projects/_show_license_text.html.erb
  BrainPortal/app/views/nh_projects/new_license.html.erb
  BrainPortal/app/views/nh_projects/show_license.html.erb
  BrainPortal/lib/custom_license.rb
Labels: NeuroHub, Priority: High, User Interface

#984 [FIX] commit email for CBRAIN and NH
  BrainPortal/app/mailers/cbrain_mailer.rb
  BrainPortal/app/views/cbrain_mailer/registration_confirmation.text.erb
Labels: NeuroHub

#993 NeuroHub users can reset their pw.
  BrainPortal/app/controllers/neurohub_application_controller.rb
  BrainPortal/app/controllers/nh_users_controller.rb
  BrainPortal/app/controllers/users_controller.rb
  BrainPortal/app/views/nh_users/change_password.html.erb
  BrainPortal/app/views/nh_users/show.html.erb
  BrainPortal/config/routes.rb
Labels: NeuroHub, Priority: High, User Interface

#994 First LORIS hooks.
  BrainPortal/app/controllers/nh_loris_hooks_controller.rb
  BrainPortal/app/models/application_record.rb
  BrainPortal/config/routes.rb
  BrainPortal/lib/filename_format_validator.rb
Labels: API, Enhancement, LORIS, NeuroHub, Priority: High

#996 Added note about ORCID in login page
  BrainPortal/app/views/nh_sessions/new.html.erb
Labels: NeuroHub, User Interface

#995 CBRAIN users can generate API token
  BrainPortal/app/controllers/users_controller.rb
  BrainPortal/app/models/cbrain_session.rb
  BrainPortal/app/views/users/new_token.html.erb
  BrainPortal/app/views/users/show.html.erb
  BrainPortal/config/routes.rb
  BrainPortal/lib/session_helpers.rb
Labels: API, Enhancement, LORIS, NeuroHub, Priority: High, User Interface

#990 Invite notification fixes #959
  BrainPortal/app/controllers/application_controller.rb
  BrainPortal/app/controllers/invitations_controller.rb
  BrainPortal/app/controllers/neurohub_application_controller.rb
  BrainPortal/app/controllers/nh_invitations_controller.rb
  BrainPortal/app/views/layouts/_neurohub_flash_message.html.erb
  BrainPortal/app/views/nh_invitations/_message_details.html.erb
Labels: Bug, Enhancement, User Interface

#997 We can specify default DP for new users
  BrainPortal/app/controllers/users_controller.rb
  BrainPortal/app/views/users/new.html.erb
Labels: Enhancement, NeuroHub, Priority: Normal, User Interface

#1000 New Token page for NH users.
  BrainPortal/app/assets/stylesheets/neurohub.scss.erb
  BrainPortal/app/controllers/application_controller.rb
  BrainPortal/app/controllers/nh_users_controller.rb
  BrainPortal/app/controllers/users_controller.rb
  BrainPortal/app/helpers/switcher_helper.rb
  BrainPortal/app/views/nh_users/new_token.html.erb
  BrainPortal/app/views/nh_users/show.html.erb
  BrainPortal/config/initializers/session_store.rb
  BrainPortal/config/routes.rb
  BrainPortal/lib/session_helpers.rb
Labels: API, Enhancement, NeuroHub, Priority: Normal, User Interface

#1001 Added new LORIS hook: csv_data_maker
  BrainPortal/app/controllers/nh_loris_hooks_controller.rb
  BrainPortal/config/routes.rb
Labels: API, Enhancement, LORIS, NeuroHub, Priority: Normal, Refactoring
