Repository aces/cbrain, pull requests merged in 2021-12, with the labels that each got.

#1185 [FIX] select box associated with chosen in Boutiques integrator
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_task/views/_form_js.html.erb
Labels: Bug

#1189 Boutiques fixes
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_task/views/_form_js.html.erb
Labels: Bug, Enhancement

#1183 Don't show 'link to globus' when admin browsing a user's account page fixes #1179
  BrainPortal/app/views/nh_users/_form.html.erb
  BrainPortal/app/views/users/show.html.erb
Labels: Bug, User Interface, Security

#1190 Add Boutiques integration for value-disables
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_task/views/_form_js.html.erb
Labels: Enhancement, User Interface, Priority: Normal, Boutiques

#1181 Special module support in new Boutiques integrator
  Bourreau/lib/boutiques_file_name_matcher.rb
  Bourreau/lib/boutiques_file_type_verifier.rb
  BrainPortal/lib/boutiques_boot_integrator.rb
  BrainPortal/lib/boutiques_file_name_matcher.rb
  BrainPortal/lib/boutiques_file_type_verifier.rb
  BrainPortal/lib/boutiques_support.rb
Labels: Enhancement, User Interface, Priority: Normal, Boutiques

#1192 [FIX] chosen value
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_task/views/_form_js.html.erb
Labels: Bug, Boutiques
