Repository aces/cbrain, pull requests merged in 2021-04, with the labels that each got.

#1104 Added new SingBindmountDataProvider class
  BrainPortal/app/models/sing_bindmount_data_provider.rb
  BrainPortal/app/views/data_providers/show.html.erb
Labels: Enhancement, Priority: Normal, Singularity

#1101 SubViewer mechanism for Single file in FileCollection
  BrainPortal/app/assets/stylesheets/cbrain.css.erb
  BrainPortal/app/controllers/userfiles_controller.rb
  BrainPortal/app/helpers/ajax_widget_helper.rb
  BrainPortal/app/helpers/userfiles_helper.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/csv_file/views/_csv_file.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/file_collection/views/_file_collection.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/file_collection/views/_plain_file_list_row.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/image_file/image_file.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/image_file/views/_image_file.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/json_file/views/_json_raw.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/mp3_audio_file/views/_html5_mp3_audio.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/mp4_video_file/views/_html5_mp4_video.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/text_file/views/_text_file.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/xml_file/views/_xml_raw.html.erb
  BrainPortal/public/javascripts/cbrain.js
Labels: Enhancement, Priority: High, User Interface

#1114 Adjustements to streaming action
  BrainPortal/app/controllers/data_providers_controller.rb
  BrainPortal/app/controllers/nh_loris_hooks_controller.rb
  BrainPortal/app/controllers/userfiles_controller.rb
  BrainPortal/app/helpers/basic_helper.rb
  BrainPortal/app/helpers/userfiles_helper.rb
  BrainPortal/app/models/application_record.rb
  BrainPortal/app/models/cluster_task.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/file_collection/views/_plain_file_list_row.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/image_file/views/_image_file.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/json_file/views/_json_raw.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/mp3_audio_file/views/_html5_mp3_audio.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/mp4_video_file/views/_html5_mp4_video.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/xml_file/views/_xml_raw.html.erb
  BrainPortal/config/routes.rb
Labels: API, Enhancement, Priority: High, User Interface
