Repository aces/cbrain, pull requests merged in 2025-05, with the labels that each got.

#1508 ToolConfigurator, fixes #1422
  BrainPortal/app/helpers/select_box_helper.rb
  BrainPortal/app/models/boutiques_cluster_task.rb
  BrainPortal/app/views/shared/_error_messages.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/boutiques_descriptors/tool_configurator.json
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_descriptor_maker_handler/views/_html_input.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_task/views/_boutiques_input.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_task/views/_task_params.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_tool_configurator_handler/bourreau/boutiques_tool_configurator_handler.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_tool_configurator_handler/common/boutiques_tool_configurator_handler.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_tool_configurator_handler/portal/boutiques_tool_configurator_handler.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_tool_configurator_handler/views/_dropdown.html.erb
  BrainPortal/lib/boutiques_support.rb
Labels: Enhancement, Priority: Normal, Boutiques, Apptainer, Admin

#1298 [ADD] launching task arrays by selecting multiple files in New Boutiques
  BrainPortal/app/models/boutiques_portal_task.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/boutiques_task/views/_boutiques_input.html.erb
  BrainPortal/lib/boutiques_support.rb
Labels: Enhancement, Boutiques

#1514 [ADD] hdf ls and stat viewer
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/hdf_file/hdf_file.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/hdf_file/views/_hdf_ls.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/userfiles/hdf_file/views/_hdf_stat.html.erb
Labels: Enhancement, Priority: Low

#1474 Rip out all the code that implements VirtualMachine processing, older…
  Bourreau/app/models/task_vm_allocation.rb
  Bourreau/lib/no_vm_available_error.rb
  Bourreau/lib/scir_amazon.rb
  Bourreau/lib/scir_cloud.rb
  BrainPortal/app/controllers/bourreaux_controller.rb
  BrainPortal/app/controllers/tool_configs_controller.rb
  BrainPortal/app/models/cluster_task.rb
  BrainPortal/app/models/task_vm_allocation.rb
  BrainPortal/app/models/tool_config.rb
  BrainPortal/app/views/bourreaux/new.html.erb
  BrainPortal/app/views/bourreaux/show.html.erb
  BrainPortal/app/views/tool_configs/_form_fields.html.erb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/start_vm/bourreau/start_vm.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/start_vm/common/start_vm.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/start_vm/portal/start_vm.rb
  BrainPortal/cbrain_plugins/cbrain-plugins-base/cbrain_task/start_vm/views/_task_params.html.erb
  BrainPortal/db/migrate/20250512000001_delete_amazon_scir_data.rb
  BrainPortal/db/migrate/20250512121218_remove_columns_vm_from_tool_configs.rb
  BrainPortal/db/migrate/20250512122948_drop_task_vm_allocations.rb
  BrainPortal/db/schema.rb
  BrainPortal/lib/scir.rb
  BrainPortal/lib/scir_amazon.rb
  BrainPortal/lib/scir_cloud.rb
Labels: Refactoring
